@font-face {
    font-family: SpoqaHanSansNeo-Bold;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Light;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Medium;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Regular;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Thin;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#app{
    width:520px;
    height:712px;
    border:1px solid #C4C4C4;
    border-radius: 10px;
    margin: auto 0;
}
.title{
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 18px;
}

.title p {
    width:144px;
    font-family: SpoqaHanSansNeo-Medium;
    color:#000000;
    font-size:16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
}
.title .close-btn{
    position: relative;
    width:16px;
    height:16px;
    left:148px;
}
.title .close-btn .close-btn__img{
    position: absolute;
}

section .weniv-desc{
    width:369px;
    font-family: SpoqaHanSansNeo-Medium;
    height:24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;  
    margin: 26px 127px  24px 24px; 
    white-space: nowrap;
} 
.login-input{
    margin-left: 24px;
}
.login-input .login-id, .login-pw{
    width:472px;
    height:50px;
    border-radius: 5px;
    border:1px solid #C4C4C4;
    padding:15px 0 15px 16px;
    box-sizing: border-box;
}

.login-input .login-id, .login-pw::placeholder{
    font-family: SpoqaHanSansNeo-Regular;
    color:#767676;
    font-size:16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom:10px;
}
.check{
    margin-top:16px;
    margin-left:28px;
    margin-bottom:20px;
}
input[type="checkbox"]+label{
    width:111px;
    height:20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: SpoqaHanSansNeo-Regular;
    color: #767676;
}

input[type="checkbox"]+label::before{
    display:inline-block;
    content:"";
    background: url("../img/Ellipse 1.png") no-repeat 0 0px / contain;
    width:22px;
    height:22px;
    vertical-align:text-top;
    margin-right:8px;
}

input[type="checkbox"]:checked+label::before {
    display:inline-block;
    content:"";
    width:22px;
    height:22px;
    background: url("../img/Vector (1).png") no-repeat 0 4px / contain;
}

input[type="checkbox"]{
    display:none;
}

.login-btn{
    width:472px;
    height:50px;
    background-color: #2F80ED;
    border-radius:5px ;
    font-family: SpoqaHanSansNeo-Regular;
    color:#FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight:700px;
    border:none;
    margin: 0 24px 20px;
}

.user{
   width:205px;
   height:18px;
   margin-left:158px;
   margin-bottom: 30px;
}

.user-account, .user-find{
    color:#767676;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight:400px;
    line-height: 17px;
    box-sizing: border-box;
}

.user .user-account::after{
    display: inline-block;
    content:"|";
    color: #767676;
    font-family: SpoqaHanSansNeo-Regular;
    width:4px;
    height:18px;
    border-radius:18px;
    margin-left:12px;
    margin-right:2px;
}
.social-login p{
    height:18px;
    font-family: SpoqaHanSansNeo-Regular;
    color: #767676;
    line-height: 18px;
    font-weight:400;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right:24px;
}
.social-login p::before{
    display: inline-block;
    content:"";
    width:210px;
    height:1px;
    background: #C4C4C4;
    margin-right:13px;
}

.social-login p::after{
    display: inline-block;
    content:"";
    width:210px;
    height:1px;
    background: #C4C4C4;
    margin-left:13px;
}
.social-login{
    margin-left:24px;
}
.social-login__google, .social-login__facebook, .social-login__naver, .social-login__kakao{
    width: 472px;
    height:50px;
    border:1px solid #767676;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: SpoqaHanSansNeo-Regular;
    color: #767676;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight:500;
    margin-bottom: 10px;
    position: relative;
}

.social-login__google::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/Google__G__Logo 1.png");
    position: absolute;
    left:12px;
    top: 11px;
}
.social-login__facebook::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/facebook.png");
    position: absolute;
    left:12px;
    top: 11px;
}
.social-login__naver::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/naver-logo.png");
    position: absolute;
    left:12px;
    top: 11px;
}
.social-login__kakao::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/message-circle.png");
    position: absolute;
    left:12px;
    top: 11px;
}