@font-face {
    font-family: SpoqaHanSansNeo-Bold;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Light;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Medium;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Regular;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: SpoqaHanSansNeo-Thin;
    src: url("../SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body{
    font-family: "SpoqaHanSansNeo-Regular", sans-serif;
}

.txt-hide{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.modal-login{
    width:100%;
    max-width:520px;
    /* height:712px; */
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    background-color: #fff;
    border:1px solid #C4C4C4;
    border-radius: 10px;
    margin: 0 auto 16px;
    position: fixed;
    z-index: 20;
}

body::after {
    display:block;
    content:"";
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000000;
    opacity: .7;
    z-index: 10;
}

.title{
    border-bottom: 1px solid #C4C4C4;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 18px; */
}

.title p {
    /* width:144px; */
    height: 58px;
    color:#000000;
    padding: 20px 0 18px; 
    text-align: center;
    font-size:16px;
    line-height: 20px;
    font-weight: 500;
}

.title .close-btn{
    position: absolute;
    background: url("../img/close.png");
    padding:0;
    background-color: #fff;
    border:none;
    cursor: pointer;
    width:16px;
    height:16px;
    top: 22px;
    right: 24px;
}

/* .title .close-btn .close-btn__img{
    position: absolute;
} */

.login {
    margin: 26px 24px 0;
}

section .weniv-desc{
    width:369px;
    height:24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;  
    white-space: nowrap;
    margin-bottom:  24px;
} 

.login-input .login-id, .login-pw{
    width:472px;
    height:50px;
    border-radius: 5px;
    border:1px solid #C4C4C4;
    padding:15px 0 15px 16px;
    margin-bottom: 10px;
}

.login-input .login-id::placeholder, .login-pw::placeholder{
    color:#767676;
    font-size:16px;
    line-height: 20px;
    font-weight: 400;
}

.check{
   margin: 6px 0 20px;
}

input[type="checkbox"]+label{
    width:111px;
    height:20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #767676;
}

input[type="checkbox"]+label::before{
    display:inline-block;
    content:"";
    background: url("../img/empty-check-box .png");
    width:22px;
    height:22px;
    vertical-align:text-top;
    margin-right:8px;
}

input[type="checkbox"]:checked+label::before {
    background: url("../img/check-box .png");
}

input[type="checkbox"]{
    display:none;
}

.login-btn{
    width:472px;
    height:50px;
    background-color: #2F80ED;
    border-radius:5px ;
    color:#FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight:700px;
    border:none;
    margin-bottom: 20px;
    cursor: pointer;
}

.user{
   /* width:205px; */
   height:18px;
   text-align: center;
   margin-bottom: 30px;
}

.user-account, .user-find{
    position: relative;
    left: -1px;
    color:#767676;
    font-size: 14px;
    font-weight:400px;
    line-height: 17px;
}

.user .user-account::after{
    display: inline-block;
    content:"|";
    color: #767676;
    width:4px;
    height:18px;
    border-radius:18px;
    margin-left:12px;
    margin-right:2px;
}

.social-login{
    margin:0 24px 26px;
}

.social-login p{
    height:18px;
    color: #767676;
    line-height: 18px;
    font-weight:400;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-login p::before,
.social-login p::after {
    display: inline-block;
    content:"";
    width:210px;
    height:1px;
    background: #C4C4C4;
    position: relative;
    top: -4px;
}

.social-login p::before {
    margin-right: 11px;
}

.social-login p::after {
    margin-left: 11px;
}

.social-login li a{
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding:15px 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.social-login__google {
    border: 1px solid #767676;
}

.social-login__google::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/css_sprites_retina.png");
    background-size: 96px 96px;
    background-position:  -58px -58px;
    position: absolute;
    left:12px;
    top: 11px;
}

.social-login__facebook {
    border: 1px solid #2F80ED;
}

.social-login__facebook::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/css_sprites_retina.png");
    background-size: 96px 96px;
    background-position:  -10px -58px;
    position: absolute;
    left:12px;
    top: 11px;
}

.social-login__naver {
    border: 1px solid #00BF18;
}

.social-login__naver::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background-image: url("../img/css_sprites_retina.png");
    background-size: 96px 96px;
    background-position: -58px -10px;
    position: absolute;
    left:12px;
    top: 11px;
}

.social-login__kakao {
    border: 1px solid #F2C94C;
}

.social-login__kakao::before{
    display:inline-block;
    content:"";
    width: 28px;
    height:28px;
    background: url("../img/css_sprites_retina.png") -10px -10px / 96px 96px;
    position: absolute;
    left:12px;
    top: 11px;
}
